version: '3.9'
services:
  botmadethis:
    build: https://github.com/scottgarner/BotMadeThis.git#main
    image: scottmadethis/botmadethis
    container_name: botmadethis
    env_file: ./stack.env
    restart: always
    network_mode: host
    tty: true
