      .message {
          opacity: 0.95;
      }

      .messageBody {
          font-size: 2em;
          font-family: "Lato", sans-serif;
          text-transform: uppercase;
          margin: 0.25em 0 0 0.25em;
          padding: 0.5em;
          background: #22ddaa;
          color: white;
          display: inline-block;
          letter-spacing: 0.05em;
      }